<!DOCTYPE html>
%html
  %head
  %title DirectUpload
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{ :"data-toggle" => "collapse", :"data-target" => ".nav-collapse" }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a{ :class => "brand", :href => "#"} Direct Upload
          .nav-collapse.collapse
            %ul.nav
              %li.active
                %a{:href => "#"} Home

    .container-fluid
      .row-fluid
        .span3
          .well.sidebar-nav
            %ul.nav.nav-list
        .span9
          = yield

